<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diffey.view.rxzhihu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.diffey.view.rxzhihu.ZhihuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.diffey.view.rxzhihu.ui.activity.MainActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.diffey.view.rxzhihu.ui.activity.StoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentTheme" />
        <activity android:name="com.diffey.view.rxzhihu.ui.activity.SettingActivity" />
        <activity android:name="com.diffey.view.rxzhihu.ui.activity.TRClientActivity" />
    </application>

</manifest>
